<h2><%=@volunteeer.title %></h2>

<form action="/projects/<%=@volunteeer.id%>" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="title">Project Title</label>
    <input type="text" name="title" value="" class="form-control">

    <button type="submit">Update Project</button>
</form>


<form action="/projects/<%=@volunteeer.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Volunteer</button>
</form>


<a href="/">return home</a>
